---
layout: default
header_image: "/assets/images/bg/blog-bg.jpg"
title: "Our Docs"
description: "Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna aliqua enim ad
minim veniam quis."
---

{% include page_header.html %}

<section id="digital-garden-iframe" style="margin:0 !important; padding:0 !important; border:0;">
	<div style="margin:0 !important; padding:0 !important; border:0; width:100vw; max-width:100vw;">
		<div style="position:relative; width:100vw; max-width:100vw; height:0; padding-bottom:56.25%; margin:0 !important;">
			<iframe
				src="https://www.menacose.org/digital-garden/"
				title="Digital Garden"
				style="position:absolute; top:0; left:0; width:100vw; max-width:100vw; height:100%; border:0; margin:0 !important; padding:0 !important;"
				loading="lazy"
			></iframe>
		</div>
		<noscript>
			<div style="padding:2rem; text-align:center;">
				JavaScript is disabled. Open the Digital Garden in a new tab:
				<a href="https://www.menacose.org/digital-garden/">Open Digital Garden</a>
			</div>
		</noscript>
	</div>
</section>

{% include call_to_action.html %}