// Ensure each slide is position: relative and fills the banner
.banner .carousel-item {
  position: relative;
  min-height: 750px;
  height: 750px;
}
.banner {
  background: url("../images/banner/mena.png") center center no-repeat;
  background-size: cover;
  overflow: hidden;
  min-height: 750px;
  height: 750px;

  .banner-content {
    padding: 250px 0px 220px 0px;

    h2 {
      font-size: 100px;
      line-height: 100px;
    }

    p {
      font-size: 17px;
    }
  }

  .banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

// Banner-2 Style

.banner-2 {
  overflow: hidden;
  padding-top: 50px;

  .banner-content-2 {
    padding: 180px 0px 120px 0px;
    @include desktop-lg {
      padding: 150px 0 100px 0;
    }

    h2 {
      font-size: 60px;
      line-height: 70px;
      @include desktop-lg {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }

  p {
    color: rgba(255, 255, 255, .7);
    padding-right: 55px;
    font-size: 17px;
  }

  .btn:hover {
    background: $white;
    color: $black !important;
  }
}


@include mobile-xs {
  .banner .banner-content h2 {
    font-size: 66px;
    line-height: 86px;
  }
}

@include mobile-xs {
  .banner .banner-content h2 {
    font-size: 66px;
    line-height: 86px;
  }
}

@include desktop {
  .banner .banner-content h2 {
    font-size: 85px;
    line-height: 100px;
  }

  .about-banner {
    background-position: 40% 50%;
  }
}