---
layout: default
header_image: "/assets/images/bg/experttalk.jpg"
title: "Expert Talk Series"
description: "Discover the INCOSE MENA Expert Talk Series, where industry leaders and experts share insights, innovations, and best practices in systems engineering to inspire and share knowledge with our community."
---

{% include page_header.html %}
<!-- About Start -->
<section class="section about overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="about-img">
					<img src="{{'/assets/images/bg/experttalk_example.png' | relative_url}}" alt="" class="img-fluid w-100"/>
					<div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=BceFwgZbpTg"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-7 offset-lg-1 mt-5 mt-md-0">
				<p>The INCOSE MENA Expert Talk Series is a platform where thought leaders and industry experts share their knowledge, experiences, and insights on cutting-edge topics in systems engineering. These talks aim to inspire, educate, and foster collaboration within the systems engineering community.</p>
				<p>Some of our notable Expert Talks include:</p>
				<ul>
					<li><strong>AI-Powered Systems Engineering</strong> by Dr. Bassem Hassan: Exploring the transformative role of artificial intelligence in advancing systems engineering practices.</li>
					<li><strong>AI Copilot for Systems Engineering</strong> by Kareem Elaasar: Demonstrating how AI tools can assist and enhance the work of systems engineers.</li>
					<li><strong>Introduction to Digital Twin</strong> by Mohamed Adel: Providing an overview of digital twin technology and its applications in modern engineering.</li>
					<li><strong>Introduction to Systems Engineering</strong> by Dr. Bassem Hassan: A foundational talk that delves into the principles and practices of systems engineering, widely regarded as a must-watch for newcomers to the field.</li>
				</ul>
				<p>Join us to gain valuable insights and stay at the forefront of systems engineering advancements.</p>
			</div>
		</div>
	</div>
</section>
<!-- About End -->

<!-- Call To action Start -->
{% include call_to_action.html %}
<!-- Call to action End -->

