---
layout: default
header_image: "/assets/images/bg/qahwa.png"
title: "Qahwa Gatherings"
description: "Join our Qahwa Gatherings, a one-hour opportunity to connect, exchange insights, and grow the regional systems engineering community. These informal yet impactful sessions are designed to foster networking and collaboration among professionals in the field."
---

{% include page_header.html %}
<!-- About Start -->
<section class="section about overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="about-img">
					<img src="{{'/assets/images/bg/qahwa_announcement.png' | relative_url}}" alt="" class="img-fluid w-100"/>
					<div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-7 offset-lg-1 mt-5 mt-md-0">
				<p>The "Qahwa Gatherings" are a unique, one-hour opportunity to connect, exchange insights, and grow the regional systems engineering community. These informal yet impactful sessions are designed to foster networking and collaboration among professionals in the field.</p>
				<p><strong>What to Expect in This Series:</strong></p>
				<ul>
					<li><strong>Networking:</strong> Build strong connections with systems engineering professionals across the region.</li>
					<li><strong>Interactive Discussions:</strong> Share your ideas, ask questions, and engage in meaningful conversations.</li>
					<li><strong>Community Input:</strong> Suggest topics or formats you'd like to see in future gatherings.</li>
				</ul>
				<p>Bring your Qahwa, a topic, question, or idea to share, and be part of shaping the future of this engaging series. Thank you for being an integral part of our growing community. We look forward to seeing you there!</p>
			</div>
		</div>
	</div>
</section>
<!-- About End -->

<!-- Call To action Start -->
{% include call_to_action.html %}
<!-- Call to action End -->

